header .primary-navigation {
    --gap: clamp(1rem, 3vw, 3.5rem);
    --underline-gap: 2em;
    margin: 0;
    padding: 0;
    background: hsl(var(--clr-dark)/.95);
    /* backdrop-filter: blur(1.5rem); */
}

header .logo {
    margin: 1.5rem clamp(1rem, 5vw, 3.5rem);
}

.primary-header {
    justify-content: space-between;
    align-items: center;
}

@supports (backdrop-filter: blur(1rem)) {
    header .primary-navigation {
        background: hsl(var(--clr-white) / 0.05);
        backdrop-filter: blur(1.5rem);
    }
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 35rem) {
    header .primary-navigation {
        --underline-gap: .5rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        flex-direction: column;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }

    header .primary-navigation.underline-indicators>*.active {
        border: 0;
    }

    header .primary-navigation[data-visible='true'] {
        transform: translateX(0);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2rem;
        background: transparent;
        border: 0;
        background-image: url('../../public/assets/shared/icon-hamburger.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url('../../public/assets/shared/icon-close.svg');
    }

    .mobile-nav-toggle:focus-visible {
        outline: 5px solid white;
        outline-offset: 5px;
    }
}

@media (min-width: 35em) {
    header .primary-navigation {
        padding-inline: clamp(2rem, 4vw, 7rem);
    }
}

@media (min-width: 35em) and (max-width: 44.999em) {
    header :is(.primary-navigation a>span, .primary-navigation p>span) {
        display: none;
    }
}

@media (min-width: 45em) {
    header .primary-navigation {
        margin-block: 2rem;
    }

    header.primary-header::after {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        background: hsl(var(--clr-white)/.25);
        margin-right: -2.5rem;
        order: 1;
    }

    header nav {
        order: 2;
    }
}