.technology {
    background-size: cover;
    background-position: bottom center;
    background-image: url('../assets/technology/background-technology-mobile.jpg');
}

/* tablet size */
@media (min-width: 35em) {
    .technology {
        background-position: center center;
        background-image: url('../assets/technology/background-technology-tablet.jpg');
    }
}

/* laptop size */
@media (min-width: 45em) {
    .technology {
        background-image: url('../assets/technology/background-technology-desktop.jpg');
    }
}